body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

h1 {
    color: #8785A2;
    font-size: 42px;
    font-family: sans-serif;
    margin-bottom: 40px;
}

input {
    margin-bottom: 10px;
    width: 250px;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #8785A2;
    background-color: #FFE2E2;
    font-size: 18px;
}

button {
    margin-top: 20px;
    width: 280px;
    padding: 10px;
    background-color: #8785A2;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}